apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-config
  namespace: icesi-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloud-config
  template:
    metadata:
      labels:
        app: cloud-config
    spec:
      containers:
        - name: cloud-config
          image: nightparker725/cloud-config:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 9296
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 9296
            initialDelaySeconds: 90
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 10

          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 9296
            initialDelaySeconds: 60
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 10
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "dev"
---
apiVersion: v1
kind: Service
metadata:
  name: cloud-config
  namespace: icesi-dev
spec:
  selector:
    app: cloud-config
  ports:
    - port: 9296
      targetPort: 9296
  type: ClusterIP
